[defaults]
inventory=./osp_jumpbox_inventory
nocows = 1


[privilege_escalation]
become=true
become_method=sudo

[ssh_connection]
ssh_args = -F ./ssh.cfg -o ControlMaster=auto -o ControlPersist=60s -o ForwardAgent=yes
